@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}


#description {
    font-weight: lighter;
    margin-top: -10px;
}

.hero-title {
    margin-top: 50px;
}

.form-card { 
    background: var(--color-darkblue-alpha);
    padding: 50px 100px;
    border-radius: 0.25rem;
    width: 720px;
}

.text-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px 0 15px 0;
}

.radio-wrapper {
    display: flex;
    flex-direction: column;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: column;
}


textarea {
    width: 100%;
    height: 100px;
}

/* button modified from mongoDB */

button {
    width: 100%;
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system,     BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    margin-top: 8px;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}
